body {
    background-color: rgb(146, 146, 165);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}

.dropdown {
    height: 200px;
    width: 300px;
    background-color: yellow;
}

.dropdown.active > .link,
.link:hover {
    color: black;
}

.dropdown-menu {
    /* position: absolute; */
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.dropdown > .link:focus + .dropdown-menu {
    opacity: 1;
}


.link {
    background-color: rgb(58, 29, 82);
    height: 45px;
    width: 300px;
    border-style:none;
    border-radius: 10px;
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.information-grid {
    padding:5px;
    background-color: tan;
}

.dropdown-links {
    display: grid;
    justify-content: space-around;
    align-items: center;
    padding:5px;
}

a {
    background-color: pink;
    border-bottom: 2px solid rgb(255, 0, 106);
    margin:5px;
    text-decoration: none;
    font-style: italic;
}
a:hover {
    color:black;
}


.dropdown.active > .link + .dropdown-menu {
    opacity: 1; 
    transform: translateT(0);
    pointer-events: auto;
}